<h3>About Pizzeria</h3>
<button class="btn btn-primary btn-large" onclick="something()">Click me!</button>
<p>
		<form action="/order" method="POST" role="form">
	<div role="form-group">
    <input name="post[author]" class="form-control" id="exampleInputEmail1" placeholder="Enter your name">
    <br />
  </div>
	<textarea name="post[text]" class="form-control" rows="6" placeholder="Type post text here"></textarea>
	<br />
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>